<ion-view view-title="Favori">
    <ion-content>

        <div class="center">
            <br>
            <img ng-src="{{favorite.image}}" no-image >
            <h4>{{favorite.artist}} - {{favorite.title}}</h4>
            <h5>Date d'enregistrement: {{favorite.date}}</h5>
            <h5> Radio: {{favorite.radio}}</h5>
        </div>

         <a ng-click="deleteFromDetailView(favorite.id)"
           class="button button-block button-assertive icon-right ion-trash-a"
           href="#/app/favorites">
            Supprimer
        </a>

    </ion-content>
</ion-view>