<ion-view view-title="Qui sommes nous ? ">
  <ion-content on-swipe-right="onSwipeRight()">
    <h4>"Une radio de plus... pourquoi au juste ? Y a pas déjà assez de bruit comme ça?"</h4>
      <p>Du bruit, c'est sûr... mais là, on parle d'autre chose : bienvenue sur <b>ESSENTIEL radio !</b></p>
      <div class="center">
          <img width="75%" ng-src="{{essentiel_bandeau}}">
      </div>

      <p>Radio novatrice, résolument jeune et branchée, #1 sur toutes les nouveautés, ESSENTIEL exploite le meilleur des dernières technologies pour une seule et même raison : offrir à notre génération ce dont elle a vraiment besoin.
          Qu'on se le dise : nous avons de la bonne musique, de l'excellente même. Du son : du vrai, du lourd. Des émissions audio et vidéo produites en exclu pour ESSENTIEL et écoutées littéralement dans le monde entier. Du sérieux et de la bonne humeur à revendre !</p>
      <br>
      <p>Mais nous avons + que du son (et pourtant, le meilleur du son), + que de la zik (et pourtant, le meilleur de la musique). Nous avons un message, et + qu'un message, une personne, la seule réellement capable de faire la différence dans ce monde : Jésus.</p>
      <br>
      <p><b><span class="color_essentiel">Bien plus que du bruit, bien plus que de la radio... Bienvenue sur ESSENTIEL radio !</span></b></p>
  </ion-content>
</ion-view>