<ion-view view-title="Qui sommes nous ? ">
  <ion-content on-swipe-right="onSwipeRight()">

    <h4>Bienvenue sur l'appli mobile d'ESSENTIEL radio !</h4>
      <p>Si tu es actuellement en train de lire ce texte, c'est que tu as sans doute envie d'en savoir + sur notre radio et nous t'en remercions !</b></p>
      <div class="center">
          <img width="75%" ng-src="{{essentiel_bandeau}}">
      </div>

      <p>ESSENTIEL radio est née en 2004 à Lyon et elle compte actuellement dans ses rangs plus de 60 équipiers passionnés ! Passionnés bien sûr de radio, de communication, de musique mais avant tout, passionnés de Dieu !
          Voilà pourquoi chaque jour, nous sélectionnons pour toi les meilleurs hits de la musique chrétienne. Une musique positive et contemporaine teintée de sonorités pop-rock, gospel, groove, hip-hop, RnB ou soul... que du bonheur !</p>
      <br>
      <p>Le bonheur, chacun des équipiers d'ESSENTIEL l'a trouvé en Jésus. Il est le Transformeur, celui qui a changé nos vies !</p>
      <br>
      <p>+ parler de : ESSENTIEL radio te propose aussi de nombreuses émissions, chroniques, interviews exclusives, débats d’actualité… et bien sûr, te laisse la parole ! + webradios thématiques</p>
      <p><b><span class="color_essentiel">Ne manque rien, reste connecté !</span></b></p>
  </ion-content>
</ion-view>