<ion-view >

    <ion-nav-title >
        <div class= "center">
            <img class="bandeau" ng-src="{{navBar_image}}" >
        </div>

    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="toggleLeftSideMenu()">
            <i class="icon icon_paroles my-icon"></i>
        </button>
    </ion-nav-buttons>


  <ion-content>
      <div class="center" back-img="{{carre_noir}}">
          <br>
          <div class="image_jaquette">
              <img  ng-click="startOrStop()"
                    ng-src="{{title_image}}"
                    no-image/>
          </div>
          <div class="play_pause">
              <img  ng-src="{{play_pause}}" ng-click="startOrStop()" />
          </div>
      </div>

      <ion-list>
          <ion-item class="item item-button-right">
              <i class="icon icon_onair_mini"></i>
              {{currentSong.artiste_nom}},<span class="color_essentiel"> {{currentSong.titre_nom}}</span>
              <button class="button button-calm button-clear" ng-click="addFavorite()">
                  <i class="icon icon_favoris"></i>
              </button>

              <button class="button button-calm  button-clear share_button" ng-click="shareOnOther()">
                  <i class="icon icon_partage"></i>
              </button>

          </ion-item>

          <ion-item ng-repeat="next in nextCouple" class="item-thumbnail-left">
              <img ng-src="{{ next.titre_image_mini }}"
                   no-image>
              <em id="coming" class="color_essentiel"> Coming soon</em>
              <h2>{{ next.artiste_nom }}  </h2>
              <h4>{{ next.titre_nom }}</h4>
          </ion-item>
      </ion-list>
      <div class="spacer"></div>

  </ion-content>

    <ion-footer-bar align-title="center" class="bar-footer">
        <div class="row">
            <div class="col"
                 back-img2="{{picto_webradio_er}}"
                 ng-click="switchRadioTo('er')">
            </div>
            <div class="col"
                 back-img2="{{picto_webradio_fr}}"
                 ng-click="switchRadioTo('fr')">
            </div>
            <div class="col"
                 back-img2="{{picto_webradio_kidz}}"
                 ng-click="switchRadioTo('kidzs')">
            </div>
            <div class="col"
                 back-img2="{{picto_webradio_kidz}}"
                 ng-click="switchRadioTo('kidzs')">
            </div>
            <div class="col"
                 back-img2="{{picto_webradio_kidz}}"
                 ng-click="switchRadioTo('kidzs')">
            </div>
        </div>

        <!--<ion-scroll direction="x" style="height: 1000px">
            <button class="button button-clear button_switch" ng-click="switchRadioTo('fr')">
                <img ng-src="{{picto_webradio_fr}}" />
            </button>
            <button class="button button-clear button_switch" ng-click="switchRadioTo('er')">
                <img ng-src="{{picto_webradio_er}}" />
            </button>
        </ion-scroll>-->

    </ion-footer-bar>

</ion-view>